<link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">


<style>
  body {
    background-image: url("{{ url_for('static', filename='images/compute-ea4c57a4.png') }}");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
  }
  demo {
    box-sizing:border-box;
    color: white;
  }
  body {
    margin:20px;
    color: white;
    background-color: #fafafa;
  }
  textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    color: rgb(255, 255, 255);
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }
  .wordamount {
    font-size: 1.5em;
    color: white;
    text-align: right;
    margin-top: 1em;
    margin-left: 32rem;
    font-family: 'Nunito', sans-serif;
  }

  .textbox {
    margin-right: 1rem;
    margin-top: 1em;
    font-family: 'Nunito', sans-serif;
    opacity: 0.8;
  }

  .info {
    margin-left: 35rem;
    margin-right: 1rem;
    margin-top: 1em;
    font-family: 'Nunito', sans-serif;  }

  .sentance {
    font-family: 'Nunito', sans-serif;  
    text-align: center; }
  
  .sentance-title {
    font-size: 1.5em;
    color: white;
    margin-top: 1em;
    margin-left: 37rem;
    font-family: 'Nunito', sans-serif;

  }

  .github {
        margin-top: 23rem;
        font-family: 'Nunito', sans-serif; 
        font-size: 1rem;   }
</style>

<label class='wordamount'> 
  Chosen amount of words: {{ promptlen }}
</label>

<p class="info">Typing will start the timer</p>

<body>
<textarea placeholder="Sentence..." id="demo" name="type_box" class='textbox'></textarea>
</body>


<script>
document.getElementById("demo").onkeypress = function() {myFunction()};

function myFunction() {
  document.getElementById("demo").style.backgroundColor = "rgb(180, 180, 180, 0.25)";
  var start = new Date().getTime();

  function handle(e){
    if(e.keyCode === 13){
        e.preventDefault();
        var end = new Date().getTime();
        var time = end - start;
        var seconds = time / 1000;
        var charamount = prompt.length;
        var wordsreal = charamount / 4.7;
        var wpm = wordsreal / seconds * 60;
        consol.log(wpm);

}}}
</script>

<p class="sentance-title">
  Your sentence is
  <p class="sentance">
    {{ prompt }}
  </p>
</p>


<div class="github">
  <p class="sentance-title"></p>
  <a href="https://github.com/FlMonkey/Typingtest" target="_blank"><img src="{{ url_for('static', filename='images/image.png') }}" width="40" height="40" alt="Discord icon"></a>
</div>