<style>
  demo {
    box-sizing:border-box;
  }
  body {
    margin:20px;
    background-color: #fafafa;
  }
  textarea {
    width:100%;
    resize: vertical;
    padding:15px;
    border-radius:15px;
    border:0;
    box-shadow:4px 4px 10px rgba(0,0,0,0.06);
    height:150px;
  }


</style>




<label> 
  Amount of words: {{ promptlen }}
</label>

<p>Typing will start the timer. (Grey means timer started)</p>

<body>
<textarea placeholder="Comment..." id="demo"></textarea>
</body>

<script>
document.getElementById("demo").onkeypress = function() {myFunction()};

function myFunction() {
  document.getElementById("demo").style.backgroundColor = "rgb(180, 180, 180, 0.25)";

}
</script>

<p>
  Your sentence: {{prompt}}
</p>


